html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: brown;
    top: 0;
    right: 0;
    left: 0;
}

nav header img {
    width: 170px;
}

nav ul li {
    display: inline;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 15px;
}

nav ul li button {
    border: none;
    padding: 10px 20px;
    border: 1.5px solid yellow;
    text-transform: uppercase;
    font-size: large;
    font-weight: 500;
}

nav ul li button:hover {
    color: rgb(41, 41, 166);
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.active,
nav ul li a:hover,
span {
    color: yellow;
}

section.top-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.446), rgba(0, 0, 0, 0.446)),
        url("./feeding.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

section.top-section h1 {
    font-size: 80px;
    margin-bottom: 0;
    font-weight: 400;
}

section.top-section p {
    font-size: 20px;
    font-weight: 400;
}

section.top-section button {
    padding: 15px 20px;
    background: yellow;
    border: none;
    border-radius: 5px;
}

section.top-section button:hover {
    background-color: white;
    color: blue;
}

section.what-we-do {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0px;
    justify-content: space-between;
}

section.what-we-do h2 {
    text-align: center;
    margin: 30px 0px;
}

.row {
    display: flex;
    margin-top: 20px;
}

.content {
    margin-left: 20px;
}

section.what-we-do .content,
section.what-we-do .image-container {
    width: 50%;
}

section.what-we-do .image-container img {
    width: 100%;
}

section.what-we-do h3 {
    font-size: 30px;
    font-weight: 600;
}

section.how-can-you-help {
    background-image: url("./feeding.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 130vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section.how-can-you-help .image-container {
    height: 400px;
    border: 2px solid white;
    text-align: center;
    padding-bottom: 150px;
    margin: 20px;
}

section.how-can-you-help .image-container img {
    width: 90%;
    height: 90%;
}

section.how-can-you-help .row {
    width: 80%;
    margin-left: 50px;
}

section.how-can-you-help h3 {
    text-align: center;
    color: white;
    font-size: 30px;
}

section.how-can-you-help .image-container p {
    color: white;
    font-size: x-large;
}

section.how-can-you-help .image-container button {
    border: 3px solid gold;
    color: white;
    background-color: rgb(41, 28, 28);
    padding: 15px 30px;
    text-transform: uppercase;
    border-radius: 2px;

}

section.how-can-you-help .image-container button:hover {

    background-color: gold;
    color: black;
}

section.projects-sponsoring {
    padding: 30px 0px;
    height: 100vh;

}

section.projects-sponsoring h3 {
    text-align: center;
    font-size: 30px;
}

section.projects-sponsoring .row {
    width: 80%;
    margin: auto;
}

section.projects-sponsoring .card {
    width: 100vw;
    height: 80vh;
    background-color: rgba(239, 230, 230, 0.943);
    padding-top: 10px;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(240, 238, 238, 0.4);
    border-color: rgba(239, 230, 230, 0.946);
}

section.projects-sponsoring .card img {
    width: 90%;
    height: 50%;
    justify-self: center;


}

section.projects-sponsoring button {
    border: 2px solid goldenrod;
    color: white;
    background-color: rgb(41, 28, 28);
    padding: 15px 30px;
    text-transform: uppercase;
    border-radius: 2px;
    margin-top: 20px;
}

section.projects-sponsoring button:hover {
    background-color: goldenrod;
    color: black;
}

section.projects-sponsoring h2 {
    text-transform: uppercase;
    text-align: left;
    margin-top: 20px;
}

section.projects-sponsoring p {
    font-size: smaller;
    margin-top: 10px;
}

.card {
    border: 2px solid black;
    box-shadow: 0px 0px 0px black;
    height: 60vh;
    text-align: center;
    margin: 0 auto;
    padding-left: 20px;
    border-radius: 3px;
    margin: 20px;
    text-align: left;
}

.next {
    background-image: url("./feeding.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
}

.next h1 {
    color: white;
    font-size: xx-large;
    font-weight: 600;
}

.row-class {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    color: white;
    margin-top: 30px;
}

.row-class img {
    height: 40vh;
    width: 25vw;
}

.row-class h2 {
    text-transform: uppercase;
}

footer {
    display: flex;
    background-color: rgb(79, 72, 127);
    margin: auto;
    height: 68vh;
    justify-content: space-evenly;
}

.foot {
    margin-top: 70px;
    display: flex;
    background-color: rgb(79, 72, 127);
    color: white;
}

.us {
    margin-left: 80px;
}

.table {
    margin-left: 40px;
}

.contact {
    margin-left: 110px;
}

.copy {
    text-align: center;
    background-color: black;
    color: rgb(61, 59, 59);
    padding: 15px 10px;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer ul li {
    border-bottom: 1px dashed rgb(151, 151, 151);
    padding: 5px 0px;
}


/* Responsive */
@media screen and (max-width:960px) {
    nav ul {
        display: none;
    }

    .row, .row-class {
        gap: 10px;
        flex-direction: column !important;
    }
    /* Top section */
    section.top-section{
        height: 50vh;
    }
    section.top-section h1 {
        font-size: 30px;
        font-weight: 400;
    }
    
    section.top-section p {
        font-size: 17px;
        font-weight: 400;
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
    }

    /* section what we do */
    section.what-we-do {
        width: 90%;
        margin: 0 auto;
        padding: 30px 0px;
    }

    section.what-we-do .content,
    section.what-we-do .image-container {
        width: 99%;
        margin: auto;
    }
    section.how-can-you-help .row {
        width: 90%;
        margin: auto !important;
        margin-left: 20px !important;
    }
    /* Section of how can you help */
    section.how-can-you-help {
        height: auto;
    }

    section.how-can-you-help .image-container {
        width: 99%;
        margin: auto;
        height: 550px;
    }

    /* section.how-can-you-help .image-container + .image-container + .image-container {
       margin-bottom: 50px;
    } */

    section.how-can-you-help .image-container:nth-child(3) {
        margin-bottom: 50px;
    }

    /* Project sponsor */
    section.projects-sponsoring {
        padding: 30px 0px;
        height: auto;
    }
    section.projects-sponsoring .row {
        width: 100%;
        margin: auto;
    }
    section.projects-sponsoring .card {
        width: 70%;
        margin: auto;
        height:auto;
        padding-bottom: 20px;
    }

    /* Our team */
    .next {
        height: auto;
    }
    .row-class img {
        height: 40vh;
        width: 70vw;
    }
    /* Footer */
    footer , .foot{
        flex-direction: column;
        height: auto;
    }
    footer div{
        margin-left: 20px !important;
    }
    .copy {
        padding: 15px 0px !important;
    }
}